/**
 * @see https://github.com/xiaweiss/normalize.css
 */

/**
 * 1. 给页面默认背景色，防止使用 z-index -1 定位元素问题
 * 2. 设置默认字体
 * 3. 设置默认字色，默认 #333
 * 4. 设置默认行高
 * 5. 设置默认字体粗细
 * 6. 消除元素按下时高亮颜色
 */
html {
  background: #FFF;
  font-family: system-ui, -apple-system;
  color: #333;
  line-height: 1;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/**
 * 阻止移动端系统缩放字体
 */
body {
  text-size-adjust: 100%!important;
  -webkit-text-size-adjust: 100%!important;
}

/**
 * 处理整页填充背景色时，内容不足时，颜色无法填满的问题
 */
html, body, #app {
  height: 100%;
}

/**
 * 清除 body 默认边距
 */
body {
  margin: 0;
}

/**
 * 保持图片宽高比
 */
img {
  object-fit: cover;
}

/**
 * 处理图片底部多占用小块空间问题
 */
img,
svg {
  display: block;
}

/**
 * 默认禁止选中文本
 */
div {
  user-select: none;
  -webkit-user-select: none;
}

/**
 * 所有元素默认盒模型为 border-box
 */
* {
  box-sizing: border-box;
}

/**
 * 所有元素隐藏聚焦时的线框
 */
:focus {
  outline: none;
}

/**
 * 去掉 a 默认样式
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * input 去掉边框
 */
input {
  border: none;
}

/**
 * textarea 默认不可拖拽
 */
textarea {
  display: block;
  resize: none;
}
