/**
 * @see https://github.com/xiaweiss/normalize.css
 */


:root {
  /**
   * 设置 css 变量，用于 JS 获取 safeAreaBottom 的值
   * 获取方法：Number(window.getComputedStyle(document.documentElement).getPropertyValue('--safe-area-bottom').replace('px', '')) || 0
   */
  --safe-area-bottom: env(safe-area-inset-bottom);
  /**
   * 等宽字体 ios-Menlo、android-Monaco、mac-Menlo、windows-Consolas
   */
  --font-family-mono: 'Menlo', 'Monaco', 'Consolas', system-ui, -apple-system;
}

/**
 * 修改默认文字选中颜色
 */
::selection {
  background-color: #f5dddd;
}

/**
 * 1. 给页面默认背景色，防止使用 z-index -1 定位元素问题
 * 2. 设置默认字体
 * 3. 设置默认字色，默认 #333
 * 4. 设置默认行高
 * 5. 设置默认字体粗细
 * 6. 消除元素按下时高亮颜色
 * 7. 设置光标颜色
 */
html {
  background: #FFF;
  font-family: system-ui, -apple-system;
  color: #333;
  line-height: 1;
  -webkit-font-smoothing: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  caret-color: #CC5656;
}

/**
 * 阻止移动端系统缩放字体
 */
body {
  text-size-adjust: 100%!important;
  -webkit-text-size-adjust: 100%!important;
}

/**
 * 处理整页填充背景色时，内容不足时，颜色无法填满的问题
 */
html, body, #app {
  height: 100%;
}

/**
 * 1. 设置 #app 为 flex 布局，方便子元素填满页面高度
 * 2. 设置全局保留空格
 */
#app {
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
}

/**
 * 清除 body 默认边距
 */
body {
  margin: 0;
}

/**
 * 1. 保持图片宽高比
 * 2. 禁止图片拖拽
 */
img {
  object-fit: cover;
  -webkit-user-drag: none;
}

/**
 * 处理图片底部多占用小块空间问题
 */
img,
svg {
  display: block;
}

/**
 * 默认禁止选中文本
 */
div {
  user-select: none;
  -webkit-user-select: none;
}

/**
 * 所有元素默认盒模型为 border-box
 */
* {
  box-sizing: border-box;
}

/**
 * 所有元素隐藏聚焦时的线框
 */
:focus {
  outline: none;
}

/**
 * 去掉 a 默认样式
 */
a {
  color: inherit;
  text-decoration: none;
}

/**
 * input 去掉边框
 */
input {
  border: none;
}

/**
 * textarea 默认不可拖拽、字体继承
 */
textarea {
  display: block;
  resize: none;
  font-family: inherit;
}
